<ion-view view-title="Create">
  <ion-content class="padding padding-top-50">
    <form name="createWhich">
      <div class="row">
        <div class="col">
          <span class="input textarea" ng-class="{ 'filled': question.focus || data.question.length > 0, 'onfocus': question.focus}">
          <span class="fill-line"></span>
          <label>Question</label>
          <textarea  
                  type="text"
                  name="question" 
                  ng-model="data.question"
                  ng-focus="question.focus = true"
                  ng-blur="question.focus = false"
                  required>
          </textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="input textarea" ng-class="{ 'filled': optiona.focus || data.thingA.length > 0, 'onfocus': optiona.focus}">
          <span class="fill-line"></span>
          <label>Option A</label>
          <textarea  
                  type="text"
                  name="optiona" 
                  ng-model="data.thingA"
                  ng-focus="optiona.focus = true"
                  ng-blur="optiona.focus = false"
                  required>
          </textarea>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="input textarea" ng-class="{ 'filled': optionb.focus || data.thingB.length > 0, 'onfocus': optionb.focus}">
          <span class="fill-line"></span>
          <label>Option B</label>
          <textarea  
                  type="text"
                  name="optionb" 
                  ng-model="data.thingB"
                  ng-focus="optionb.focus = true"
                  ng-blur="optionb.focus = false"
                  required>
          </textarea>
        </div>
      </div>
    </form>
  

  <div class="row">

    <button class="button button-full button_main btn_lg" ng-click="show()">
      Add An Image
    </button>
  </div>
  <div class="row">
    <button class="button-full button_main button_outline btn_lg submit" ng-click="submit()" ng-disabled="createWhich.$invalid">Submit</button>
  </div>
  
  </ion-content>
</ion-view>
