/* Empty. Add your own CSS if you like */
.thing{
  width: 95%;
  height: 95%;
  padding: 2.5%;

}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 300px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.pane{
  height:100%;
  width:100%;
}

/* TINDER CARD CSS */
td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: red;
  opacity: 0;
  font-weight: bold;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: blue;
  opacity: 0;
  font-weight: bold;
}



.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.item-select {
  width: 75%; /* Or whatever you'd like the width to be */
}

.item-select select {
  left: 0;
}

.square {

  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  /*margin:10px;*/
  background-color: #6addc7;
  /*overflow:hidden;*/
}

.content {
  position:absolute;
  height:100%; /* = 100% - 2*5% padding */
  width:100%; /* = 100% - 2*5% padding */
  padding: 5%;
  text-align: center;
  top:-200px;

}
.table{
  display:table;
  width:100%;
  height:100%;
}
.table-cell{
  display:table-cell;
  vertical-align:middle;
}

.bg1{
 /* you change this to "contain" if you don't want the images to be cropped */
  flex:1;
  width: 100%;
  color: #f7f5ec;
  background-color: #6dd6ee;
  font-weight: bold;
  font-size: large;
}

.bg2{
  /* you change this to "contain" if you don't want the images to be cropped */
  flex:1;
  width: 100%;
  color: #f7f5ec;
  background-color: #17ee5d;
  font-weight: bold;
  font-size: large;
}

.afterCreateHeader{
  text-align: center;
  background-color: oldlace;
  margin: 0 auto;
  padding:0px;
  font-family:'sans-serif' ;
  color: #6d6d6d;
}

.flexr{
  display: flex;
  height: 100%;

}
.scroll {
  min-height: 100%;
  height: 100%;
}

.choices {
  font-size: 20px;
  font-family: sans-serif;
}


/* SWOOSH CARD CORE */

swoosh-cards {
  display: block;
}

swoosh-card {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 125px);
  width: 250px;
  height: 450px;
  border-radius: 6px;
  background-color: #FFF;
  border-style: solid;
  border-color: grey;
  overflow: hidden;
}

swoosh-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0;
  z-index: 11;
}

swoosh-card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* DEMO */
swoosh-card .top {
  width: 100%;
  height: 160px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

swoosh-card img {
  width: 100%;
}

swoosh-card .bottom {
  border-radius: 0 0 4px 4px;
  width: 100%;
  height: 280px;
  overflow: auto;

}

swoosh-card .bottom h1 {
  margin: 10px 0 0 0;
  font-size: 14px;
  text-align: center;
}

swoosh-card .bottom p {
  margin: 10px 15px;
  font-size: 11px;
}

.discard {
  position: absolute;
  left: calc(50% - 90px);
  bottom: 10px;
  padding: 7px 10px;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px 20px 20px 20px;
}
.discard2 {
  position: absolute;
  left: calc(50% + 20px);
  bottom: 10px;
  padding: 7px 10px;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px 20px 20px 20px;
}

.background-grey {
  background-color: #333 !important;
}

#left{
  float:left;
  width: 50%;
  height: 80%;
/*  background-color: pink;*/
}
#right{
  float: right;
  width: 50%;
  height: 80%;
/*  background-color: grey;*/
}
#votes{
  font-size: 26px;
}

span.input {
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  border-bottom: 2px solid #D9D9D9;
  z-index: 1;
  margin-bottom: 30px;
}

.input > span.fill-line {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 100%;
  height: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input.onfocus > span.fill-line {
  right: 0px;
  background: #4eb6c0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input > input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: none;
  background: none;
  font-style: 18px;
  background: #eaeaea;
}

.input > input:focus {
  outline: none;
  border: none;
  background: #eaeaea;
}

.input > label {
  position: absolute;
  top: 24px;
  left: 0px;
  color: #666;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}



.input.filled > label {
  top: -5px;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
}


.input.textarea.filled > label {
  top: -20px;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
}



.placeholder {
  position: absolute;
  top: 20px;
  left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  color: #D8D8D8;
}



.panel {
  background: #FFF;
  border: 1px solid #D8D8D8;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 50px 0;
}

textarea {
  top: 10px;
  width: 100%;
  height: 50px;
  background: transparent;
  /*overflow: hidden;*/
  resize: none;
}

/*Drop Downs

/*select {
  position: relative;
  border: none;
  height: 55px;
  border-radius: 0;
  background: transparent;
  z-index: 100;
}

option {
  padding: none !important;
}

select:focus {
  outline: none;
}*/
.btn_lg {
  height: 60px;
}

.button_main {
  background: #1ea6cc;
  border-color: #1ea6cc;
  color: #FFF;
}

.button_main:active {
  background: #066E8B;
  border-color: #066E8B;
}

.button_main.activated {
  background: #066E8B;
  border-color: #066E8B;
}

.button_main.active {
  background: #066E8B;
  border-color: #066E8B;
}



.button_outline {
  background: none;
  border: 2px solid #1ea6cc;
  color: #1ea6cc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}



.button_outline:hover {
  color: #1ea6cc !important;
}

.button_outline.submit:disabled {
  border-color: #CCC !important;
  color: #CCC !important;
}

.button_outline:active {
  background: #1ea6cc;
  border: 2px solid #1ea6cc;
  color: #FFF !important;
}



.button_main:hover {
  color: #FFF;
}

.modal {
  background: rgba(0,0,0,0.3);
  
}

.modal-content-wrapper {
  background: transparent;
  width: 100%;
  height: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
  
}

.modal-content {
  background: #FFF;
  width: 90%;
  height: auto;
}

.modal-content ul {
  width: 100%;
}

.modal-content li {
  height: 50px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content li.header {
  height: 100px;
}

/*.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}*/

.padding-top-50 {
  padding-top: 50px;
}


