<!-- JUST FOR TESTING -->
<ion-view view-title="WHAT WILL YOU CHOOSE?">
  <ion-pane class="pane">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{data.which.question}}</h1>
    </ion-header-bar>
    <td-cards>
      <td-card on-destroy="decide()" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}" on-snap-back="cardPartialSwipe(0)">
        <div class="image" ng-if="data.type === 'image'">
          <img ng-if="data.cardSrc!==''" ng-src="{{data.cardSrc}}">
        </div>
        <div class="image" ng-if="data.type === 'text'">
          <h2 ng-if="data.cardSrc!==''">{{data.cardSrc}}</h2>
        </div>
        <h1 ng-if="data.cardSrc===''">{{data.which.question}}</h1>
    <!--    <h1 ng-if="data.choice===''">{{data.which.thingA}}</h1> -->
     <!--    <h1 ng-if="data.choice===''">{{data.which.thingB}}</h1> -->
         <div class="title">
                      {{data.which.question}}
                  </div>
        <div class="yes-text">A - swipe left!</div>
        <div class="no-text">B - swipe right!</div>
      </td-card>
    </td-cards>
  </ion-pane>
</ion-view>
