<ion-view view-title="which?">
  <ion-pane class="pane">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{data.which.question}}</h1>
    </ion-header-bar>
      <div ng-if="cards.active">
        <swoosh-cards>
          <swoosh-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)">
            <div ng-controller="CardCtrl">

              <div class="top">
                <img ng-src="{{ card.image }}" />
              </div>
              <div class="bottom">
                <h1>{{ card.country }}</h1>
               
                <div id="left">
                   <p>{{ card.text1 }}</p>
                   <div class="discard" ng-click="discard('A')">Option A</div>
                </div>
                <div id="right">
                   <p>{{ card.text2 }}</p>
                   <div class="discard2" ng-click="discard('B')">Option B</div>
                </div>
                <!-- <div class="discard" ng-click="discard(card)">Option A</div>
                <div class="discard2" ng-click="discard(card)">Option B</div> -->
              </div>
            </div>
          </swoosh-card>
        </swoosh-cards>
  </ion-pane>
</ion-view>