<ion-view view-title="Browse Tags">
  <ion-content>


    <div class="card" >
      <div class="item item-divider">
        Enter a tag please:
      </div>
      <a class="item item-input">
        <input type="text" ng-model="data.tagSearch" placeholder="Search for tags...">
      </a>
    </div>

    <button class="button button-block button-assertive text-right" ng-click="getWhichesByTag(); data.popWhiches = []">Search</button>
    <button class="button button-block button-assertive text-right" ng-click="getMostPopularWhiches(); data.whiches = []">List Top 5 Whiches</button>


<ion-list>
  <ion-item ng-repeat="which in data.whiches" ng-click="goToWhich(which.id)">
    {{which.question}}
  </ion-item>
</ion-list>

<ion-list>

  <ion-item ng-repeat="which in data.popWhiches" ng-click="goToWhich(which.id)">
    {{which.question}} {{which.totalVoteCount}}
  </ion-item>
</ion-list>
</ion-content>
</ion-view>
